In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\sanch'

In [3]:
cd Desktop

C:\Users\sanch\Desktop

In [4]:
cd BE Project

C:\Users\sanch\Desktop\BE Project

In [5]:
cd Takeout

C:\Users\sanch\Desktop\BE Project\Takeout

In [6]:
cd Location History

C:\Users\sanch\Desktop\BE Project\Takeout\Location History

In [9]:
data=pd.read_csv("history.csv")

In [10]:
data.head()

,name,name3,address,name.1,value,description,coordinates,begin,end
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Email,sanchayvyas@gmail.com,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Category,Non-Profit Organization,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Distance,0,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
3,2018-02-01,Motorcycling,NaN,Email,sanchayvyas@gmail.com,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
4,2018-02-01,Motorcycling,NaN,Category,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z

In [11]:
data.drop(["value", "description", "name.1"],axis=1)

,name,name3,address,coordinates,begin,end
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z
3,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
4,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
5,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z
6,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
7,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
8,2018-02-01,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-01T03:44:40.685Z,2018-02-01T07:58:55.278Z
9,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
10,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
11,2018-02-01,Driving,NaN,NaN,2018-02-01T07:58:55.278Z,2018-02-01T08:40:07.807Z
12,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
13,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
14,2018-02-01,K. J. Somaiya Hospital,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.8748609,19.047134,0",2018-02-01T08:40:07.807Z,2018-02-01T09:00:10.569Z
15,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
16,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
17,2018-02-01,Driving,NaN,NaN,2018-02-01T09:00:10.569Z,2018-02-01T09:20:42.821Z
18,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
19,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
20,2018-02-01,Somaiya Ground,"Samarth Nagar, Chunabhatti, Sion, Mumbai, Maha...","72.8711172,19.0503288,0",2018-02-01T09:20:42.821Z,2018-02-01T10:58:35.862Z
21,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
22,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
23,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T10:58:35.862Z,2018-02-01T13:59:17.116Z
24,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
25,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
26,2018-02-01,Nehru Nagar,"Kurla East, Mumbai, Maharashtra","72.8825627,19.063989799999998,0",2018-02-01T13:59:17.116Z,2018-02-01T14:47:50.349Z
27,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
28,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
29,2018-02-01,Motorcycling,NaN,NaN,2018-02-01T14:47:50.349Z,2018-02-01T15:14:15.000Z
...,...,...,...,...,...,...
888,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
889,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
890,2018-02-22,Moving,NaN,NaN,2018-02-22T12:59:14.931Z,2018-02-22T13:13:24.492Z
891,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
892,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
893,2018-02-22,K. J. Somaiya Institute of Engineering and Inf...,"Somaiya Ayurvihar Complex, Eastern Express Hig...","72.871043,19.046146,0",2018-02-22T13:13:24.492Z,2018-02-22T13:33:19.636Z
894,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
895,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
896,2018-02-22,Driving,NaN,NaN,2018-02-22T13:33:19.636Z,2018-02-22T13:46:12.790Z
897,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
898,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
899,2018-02-22,Gurukrupa Sandwich,"TV Chidambaran Marg, Air Force Quarters, Jay B...","72.86484229999999,19.0441298,0",2018-02-22T13:46:12.790Z,2018-02-22T14:32:51.896Z
900,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
901,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
902,2018-02-22,Walking,NaN,NaN,2018-02-22T14:32:51.896Z,2018-02-22T15:10:35.918Z
903,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
904,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
905,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T15:10:35.918Z,2018-02-22T15:33:42.648Z
906,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
907,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
908,2018-02-22,Walking,NaN,NaN,2018-02-22T15:33:42.648Z,2018-02-22T15:47:06.275Z
909,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
910,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
911,2018-02-22,K. J. Somaiya College of Engineering,"Vidyanagar, Vidya Vihar East, Ghatkopar East, ...","72.8998221,19.0730847,0",2018-02-22T15:47:06.275Z,2018-02-22T16:57:47.329Z
912,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
913,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
914,2018-02-22,Walking,NaN,NaN,2018-02-22T16:57:47.329Z,2018-02-22T17:11:50.352Z
915,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z
916,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z
917,2018-02-22,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...","72.9000899,19.0774884,0",2018-02-22T17:11:50.352Z,2018-02-23T01:40:05.000Z

In [12]:
new = data["coordinates"].str.split(",",expand = True)

In [13]:
data["lat"]=new[0]

In [16]:
data["long"]=new[1]

In [15]:
data.head()

,name,name3,address,name.1,value,description,coordinates,begin,end,long,lat
0,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Email,sanchayvyas@gmail.com,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
1,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Category,Non-Profit Organization,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
2,2018-02-01,Room (The Naz Foundation I Trust),"61, Rajawadi Rd, Rajawadi Colony, Ghatkopar Ea...",Distance,0,NaN,"72.9000899,19.0774884,0",2018-01-31T17:21:54.049Z,2018-02-01T03:20:07.840Z,72.9000899,19.0774884
3,2018-02-01,Motorcycling,NaN,Email,sanchayvyas@gmail.com,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN
4,2018-02-01,Motorcycling,NaN,Category,Motorcycling,NaN,NaN,2018-02-01T03:20:07.840Z,2018-02-01T03:44:40.685Z,NaN,NaN